:root {
    background-color: rgb(186, 183, 183);
}

/* p {
    background: blue;
    border-radius: 3px;
} */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 35px;
    color: black;
    margin-bottom: 3rem;

}

h2 {
    
}

.container {
    
}

.text-center {
    
}

.justify-center {
}
    


.flex-column {
}
    

.flex-center {
    
}

.text-center {
    
}

.hidden {
   
}

.btn {
    font-size: 2.4rem;
    padding: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: black;
    background: linear-gradient(90deg, rgb(9, 76, 105) 0%, rgb(0, 102, 255) 100%);
    border-radius: 40px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.5rem 1.2rem 0 rgba(9, 76, 105, 0.3);
    transition: transform 165ms;
    transform: scale(1.06);
}

/* 
.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
} */


