
* {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(90deg, #041e42 20%, #9b1c2c 100%);
}
h1{
    background-color: (#041e42 20%, #9b1c2c 100%);
    font-family: 'Times New Roman', Times, serif;
}